In [51]:
final = final.join(linkfinal)
print(final)

                               j_tittle                  c_name  \
0               Junior Graphic Designer       Oscar de la Renta
1   Junior Graphic Designer - Part-Time              Miami HEAT
2                  Jr. Graphic Designer            Peter Millar
3                       Creative Intern          Sol de Janeiro
4                      Graphic Designer                   BAMKO
..                                  ...                     ...
85                  Graphic Designer II            Hanger, Inc.
86           Graphic Artist (Temporary)  Warner Bros. Discovery
87                     Sr. Art Director              Ann Taylor
88              Junior Graphic Designer            HMA Mortgage
89                     Graphic Designer         Peachtree Group

                  company_locations  \
0                      New York, NY
1                         Miami, FL
2                   Los Angeles, CA
3                      New York, NY
4                     United States
..                              ...
85  Austin, Texas Metropolitan Area
86                      Atlanta, GA
87  New York City Metropolitan Area
88                    United States
89                      Atlanta, GA

                                      job_description  \
0   $$$ Oscar de la Renta is seeking a Junior Grap...
1                          Related to grapgics design
2                          Related to grapgics design
3   $$$ Launched in 2015, SOL DE JANEIRO is an awa...
4                          Related to grapgics design
..                                                ...
85  $$$ Why Us?With a mantra of Empowering Human P...
86                         Related to grapgics design
87                         Related to grapgics design
88                         Related to grapgics design
89                         Related to grapgics design

                                           Apply_link
0   https://www.linkedin.com/jobs/view/junior-grap...
1   https://www.linkedin.com/jobs/view/junior-grap...
2   https://www.linkedin.com/jobs/view/jr-graphic-...
3   https://www.linkedin.com/jobs/view/creative-in...
4   https://www.linkedin.com/jobs/view/graphic-des...
..                                                ...
85  https://www.linkedin.com/jobs/view/graphic-des...
86  https://www.linkedin.com/jobs/view/graphic-art...
87  https://www.linkedin.com/jobs/view/sr-art-dire...
88  https://www.linkedin.com/jobs/view/junior-grap...
89  https://www.linkedin.com/jobs/view/graphic-des...

[90 rows x 5 columns]

In [52]:
final.to_csv('tempgraphics.csv')

In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv('temp.csv')

In [2]:
import re
import nltk
from nltk.corpus import stopwords

nltk.download('stopwords')
stop_words = set(stopwords.words('english'))

def cleanResume(txt):
    cleanText = re.sub(r'http\S+\s', ' ', txt)
    cleanText = re.sub(r'RT|cc', ' ', cleanText)
    cleanText = re.sub(r'#\S+\s', ' ', cleanText)
    cleanText = re.sub(r'@\S+', '  ', cleanText)  
    cleanText = re.sub(r'[%s]' % re.escape(r"""!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~"""), ' ', cleanText)
    cleanText = re.sub(r'[^\x00-\x7f]', ' ', cleanText) 
    cleanText = re.sub(r'\s+', ' ', cleanText)
    
    # Remove stopwords
    #.apply(lambda x: ' '.join([word for word in str(x).split() if len(word)>2 and word not in (stopw)]))
    cleanText = ' '.join(word for word in cleanText.split() if  word.lower() not in stop_words)
    
    return cleanText

# You don't need to include the output here

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\91701\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [5]:
df['job_description'] = df['job_description'].apply(lambda x: cleanResume(x))

In [6]:
df.to_csv('temp_structured_data.csv', index=False)

In [38]:
df

,Unnamed: 0,j_tittle,c_name,company_locations,job_description,Apply_link
0,0,Data Scientist,Rue Gilt Groupe,"Miami, FL",Description found,https://www.linkedin.com/jobs/view/data-scient...
1,1,Data Scientist,Rue Gilt Groupe,"Miami, FL",ROLE Data ScientistJob Location USA RemoteWe l...,https://www.linkedin.com/jobs/view/data-scient...
2,2,"Data Scientist, Field Analytics",Domino's,"Ann Arbor, MI",Domino Pizza began 1960 single store location ...,https://www.linkedin.com/jobs/view/data-scient...
3,3,Data Scientist,Rent The Runway,"Brooklyn, NY",Description found,https://www.linkedin.com/jobs/view/data-scient...
4,4,Junior Data Scientist,ClearML,United States,Junior Data Scientist Machine Learning AI Join...,https://www.linkedin.com/jobs/view/junior-data...
...,...,...,...,...,...,...
113,113,Junior Data Scientist (Hybrid),"Summit Consulting, LLC","Washington, DC",Description found,https://www.linkedin.com/jobs/view/junior-data...
114,114,Data Scientist - AI/ML,"Kelly Science, Engineering, Technology & Telecom","West Chester, PA",Description found,https://www.linkedin.com/jobs/view/data-scient...
115,115,Data Scientist,Inclusively,"San Francisco, CA",Inclusively partnering one largest transportat...,https://www.linkedin.com/jobs/view/data-scient...
116,116,Data Scientist (Skunkworks) - REMOTE,StreetLight,"Dallas, TX",StreetLight pioneered use Big Data analytics s...,https://www.linkedin.com/jobs/view/data-scient...
117,117,Machine Learning Engineer,Amicus,"Austin, TX",Description found,https://www.linkedin.com/jobs/view/machine-lea...

In [ ]:
import spacy
from spacy.matcher import Matcher
import PyPDF2
import os
import csv

# Load the Spacy English model
nlp = spacy.load('en_core_web_sm')

# Read skills from CSV file
file_path = r"C:\Users\91701\Downloads\skills.csv"
with open(file_path, 'r', encoding='utf-8') as file:
    csv_reader = csv.reader(file)
    skills = [row for row in csv_reader]
#print(skills)
# Create pattern dictionaries from skills
skill_patterns = [[{'LOWER': skill}] for skill in skills[0]]
#print(skill_patterns)
# Create a Matcher object
matcher = Matcher(nlp.vocab)

# Add skill patterns to the matcher
for pattern in skill_patterns:
    matcher.add('Skills', [pattern])

# Function to extract skills from text
def extract_skills(text):
    doc = nlp(text)
    matches = matcher(doc)
    skills = set()
    for match_id, start, end in matches:
        skill = doc[start:end].text
        skills.add(skill)
    return skills

# Function to extract text from PDF
def extract_text_from_pdf(file_path:str):
    with open(file_path, 'rb') as f:
        pdf_reader = PyPDF2.PdfReader(f)
        text = ''
        for page in pdf_reader.pages:
            text += page.extract_text()
    return text
#print(text)

def skills_extractor(file_path):
             resume_text = extract_text_from_pdf(file_path)
        #print(resume_text)
        # Extract skills from resume text
             skills = list(extract_skills(resume_text))
             return skills
#print(len(skills))
#print(skills)
#print(skills[1])
#print(skills[10])

#print(skill_patterns)
#len(skill_patterns)

In [40]:

import re 
from ftfy import fix_text  
from sklearn.feature_extraction.text import TfidfVectorizer  
import re  
from sklearn.neighbors import NearestNeighbors  
import numpy as np 
import pandas as pd  
import nltk  
from nltk.corpus import stopwords  
stopw = set(stopwords.words('english'))  
from pyresparser import ResumeParser 
import os 
from docx import Document 
#import skills_extraction.ipynb as skills_extraction
  # Custom module for skills extraction

In [44]:
jd_df1 = pd.read_csv('temp_structured_data.csv')
jd_df1.head()

,Unnamed: 0,j_tittle,c_name,company_locations,job_description,Apply_link
0,0,Data Scientist,Rue Gilt Groupe,"Miami, FL",Description found,https://www.linkedin.com/jobs/view/data-scient...
1,1,Data Scientist,Rue Gilt Groupe,"Miami, FL",ROLE Data ScientistJob Location USA RemoteWe l...,https://www.linkedin.com/jobs/view/data-scient...
2,2,"Data Scientist, Field Analytics",Domino's,"Ann Arbor, MI",Domino Pizza began 1960 single store location ...,https://www.linkedin.com/jobs/view/data-scient...
3,3,Data Scientist,Rent The Runway,"Brooklyn, NY",Description found,https://www.linkedin.com/jobs/view/data-scient...
4,4,Junior Data Scientist,ClearML,United States,Junior Data Scientist Machine Learning AI Join...,https://www.linkedin.com/jobs/view/junior-data...

In [47]:
file_path=r"C:\Users\91701\Desktop\resume.csv.pdf"
#file_path=r"C:\Users\91701\Downloads\Dinesh_Sharma_Resume.pdf"
#file_path=r"C:\Users\91701\Downloads\Dinesh_Sharma_Resume.pdf"
skills=[]
skills.append(' '.join(word for word in skills_extractor(file_path)))
#print(skills)

def ngrams(string, n=3):
    string = fix_text(string)  
    string = string.encode("ascii", errors="ignore").decode()  
    string = string.lower()  
    chars_to_remove = [")", "(", ".", "|", "[", "]", "{", "}", "'"]  
    rx = '[' + re.escape(''.join(chars_to_remove)) + ']' 
    string = re.sub(rx, '', string)  
    string = string.replace('&', 'and')
    string = string.replace(',', ' ')  
    string = string.replace('-', ' ') 
    string = string.title() 
    string = re.sub(' +', ' ', string).strip()  
    string = ' ' + string + ' ' 
    string = re.sub(r'[,-./]|\sBD', r'', string) 
    ngrams = zip(*[string[i:] for i in range(n)])  
    return [''.join(ngram) for ngram in ngrams] 


vectorizer = TfidfVectorizer(min_df=1, analyzer=ngrams, lowercase=False)

tfidf = vectorizer.fit_transform(skills)


nbrs = NearestNeighbors(n_neighbors=1, n_jobs=-1).fit(tfidf)

jd_test = (jd_df1['job_description'].values.astype('U'))


def getNearestN(query):
    queryTFIDF_ = vectorizer.transform(query)  
    distances, indices = nbrs.kneighbors(queryTFIDF_) 
    return distances, indices 


distances, indices = getNearestN(jd_test)
test = list(jd_test)
matches = []


for i, j in enumerate(indices):
    dist = round(distances[i][0], 2) 
    temp = [dist] 
    matches.append(temp) 


matches = pd.DataFrame(matches, columns=['Match confidence'])



jd_df1['match'] = matches['Match confidence']
jd_df1.head(162).sort_values('match', ascending=True)
sorted_jd_df1 = jd_df1.head(162).sort_values('match', ascending=True)
sorted_jd_df1.head(10)

,Unnamed: 0,j_tittle,c_name,company_locations,job_description,Apply_link,match
93,93,Junior Data Scientist (Remote),SynergisticIT,"Los Angeles, CA",Since 2010 Synergisticit helped Jobseekers dif...,https://www.linkedin.com/jobs/view/junior-data...,0.73
109,109,Machine Learning Engineer,cPacket,"Portland, Oregon Metropolitan Area",Company Overview cPacket Networks cutting edge...,https://www.linkedin.com/jobs/view/machine-lea...,0.78
13,13,Data scientist,Ayesa,Northeastern United States,Ayesa Spanish multinational company offers eng...,https://www.linkedin.com/jobs/view/data-scient...,0.78
83,83,Data Scientist - All Levels,Interclypse,"San Antonio, TX",DescriptionInterclypse seeking Data Scientists...,https://www.linkedin.com/jobs/view/data-scient...,0.79
73,73,Data Scientist,Charter Global,San Francisco Bay Area,Title Data Scientist Need Locals Location San ...,https://www.linkedin.com/jobs/view/data-scient...,0.80
49,49,Data Scientist,ArcMentors,"Los Angeles, CA",Unlock power data drive informed decision maki...,https://www.linkedin.com/jobs/view/data-scient...,0.80
92,92,Data Scientist Co-Op (June-Nov 2024),Cohere Health,United States,Company OverviewCohere Health illuminating hea...,https://www.linkedin.com/jobs/view/data-scient...,0.80
40,40,Data Scientist,ArcMentors,"Los Angeles, CA",Unlock power data drive informed decision maki...,https://www.linkedin.com/jobs/view/data-scient...,0.80
52,52,Junior Data Scientist,MHK TECH INC,United States,JOB SUMMARY Develop new models using creativit...,https://www.linkedin.com/jobs/view/junior-data...,0.82
42,42,Data Scientist,Touchpoints,United States,Role DescriptionThis remote contract role Data...,https://www.linkedin.com/jobs/view/data-scient...,0.82

In [48]:
# Print the 'job discription' column of the first row (index 160)
print(sorted_jd_df1.loc[93, 'job_description'])

Since 2010 Synergisticit helped Jobseekers differentiate providing candidates requisite skills experience outperform interviews clients SynergisticIT focus getting Job make careers Positions open visas US citizensWe Synergisticit understand problem mismatch employer requirements Employee skills since 2010 helped 1000 candidates get jobs technology clients like apple google Paypal western union Client visa walmart labs etc name excellent reputation clients Currently looking entry level software programmers Java Full stack developers Python Java developers Data analysts Data Scientists Machine Learning engineers full time positions clients Apply Recent Computer science Engineering Mathematics Statistics Science Graduates People looking switch careers gaps employment looking make careers Tech Industry assist filing STEM extension also H1b Green card filing CandidatesIf applied job got emails Job Placement Program team please email ask take distribution list make unavailable share database client servicing team please check links see su ess outcomes candidates participation different Tech industry events different organizations helping Jobseekers secure Tech careers url removed regularly interact Top Tech companies give candidates competitive advantage Please see us exhibiting Oracle Cloud world Oracle Java one Las vegas 2023 2022 Gartner Data Analytics Summit Florida 2023 url removed url removed preparing interviews please visit url removed looking right matching candidates clientsPlease apply via job postingREQUIRED SKILLS Java Full Stack Software ProgrammerBachelors degree Masters degree Computer Science Computer Engineering Electrical Engineering Information Systems ITHighly motivated self learner technically inquisitiveExperience programming language Java understanding software development life cycleProject work skillsKnowledge Core Java javascript C software programmingSpring boot Microservices Docker Jenkins REST API experienceExcellent written verbal communication skillsFor data Science Machine learning PositionsRequired SkillsBachelors degree Masters degree Computer Science Computer Engineering Electrical Engineering Information Systems ITProject work technologies neededHighly motivated self learner technically inquisitiveExperience programming language Java understanding software development life cycleKnowledge Statistics SAS Python Computer Vision data visualization toolsExcellent written verbal communication skillsPreferred skills NLP Text mining Tableau PowerBI SAS TensorflowIf get emails Job Placement team interested please email ask take distribution list make unavailable share database client servicing team connect candidates matching client requirements phone calls please Shortlisted candidates would reached third party agency candidates c2c candidatesShow moreShow less

In [49]:
print(sorted_jd_df1.loc[93, 'Apply_link'])

https://www.linkedin.com/jobs/view/junior-data-scientist-remote-at-synergisticit-3860419169?position=6&pageNum=10&refId=U0wv332xWWTJMP5GVqqv8Q%3D%3D&trackingId=7DgurOSEx8qWt8efyEqNhQ%3D%3D&trk=public_jobs_jserp-result_search-card

In [50]:
print(sorted_jd_df1)

     Unnamed: 0                        j_tittle          c_name  \
93           93  Junior Data Scientist (Remote)   SynergisticIT
109         109       Machine Learning Engineer         cPacket
13           13                  Data scientist           Ayesa
83           83     Data Scientist - All Levels     Interclypse
73           73                  Data Scientist  Charter Global
..          ...                             ...             ...
44           44                  Data Scientist      ArcMentors
43           43           Senior Data Scientist          Method
41           41       Machine Learning Engineer         Zest AI
38           38                  Data Scientist      Seek Smart
117         117       Machine Learning Engineer          Amicus

                      company_locations  \
93                      Los Angeles, CA
109  Portland, Oregon Metropolitan Area
13           Northeastern United States
83                      San Antonio, TX
73               San Francisco Bay Area
..                                  ...
44                      Los Angeles, CA
43                        Charlotte, NC
41                        United States
38                         New York, NY
117                          Austin, TX

                                       job_description  \
93   Since 2010 Synergisticit helped Jobseekers dif...
109  Company Overview cPacket Networks cutting edge...
13   Ayesa Spanish multinational company offers eng...
83   DescriptionInterclypse seeking Data Scientists...
73   Title Data Scientist Need Locals Location San ...
..                                                 ...
44                                   Description found
43                                   Description found
41                                   Description found
38                                   Description found
117                                  Description found

                                            Apply_link  match
93   https://www.linkedin.com/jobs/view/junior-data...   0.73
109  https://www.linkedin.com/jobs/view/machine-lea...   0.78
13   https://www.linkedin.com/jobs/view/data-scient...   0.78
83   https://www.linkedin.com/jobs/view/data-scient...   0.79
73   https://www.linkedin.com/jobs/view/data-scient...   0.80
..                                                 ...    ...
44   https://www.linkedin.com/jobs/view/data-scient...   1.30
43   https://www.linkedin.com/jobs/view/senior-data...   1.30
41   https://www.linkedin.com/jobs/view/machine-lea...   1.30
38   https://www.linkedin.com/jobs/view/data-scient...   1.30
117  https://www.linkedin.com/jobs/view/machine-lea...   1.30

[118 rows x 7 columns]